{%- liquid
  assign variant = product.selected_or_first_available_variant
  assign can_add_to_cart = false
  if variant and variant.available
    assign can_add_to_cart = true
  endif
  assign form_id = 'gift-atc-' | append: section.id | append: '-' | append: index
-%}

<product-form-component data-section-id="{{ section.id }}" data-product-id="{{ product.id }}"
    data-product-url="{{ product.url }}" on:submit="/handleSubmit" data-quantity-default="1"
    data-quantity-error-max="{{ 'products.product.quantity_error_max' | t }}">
    <div class="visually-hidden" aria-live="assertive" role="status" aria-atomic="true" ref="liveRegion"></div>
    {%- form 'product', product, id: form_id, data-type: 'add-to-cart-form' -%}
    <input type="hidden" name="id" ref="variantId" value="{{ variant.id }}">
    <span class="product-form-text__error hidden" ref="addToCartTextError">
        <span class="svg-wrapper">{{- 'icon-error.svg' | inline_asset_content -}}</span>
    </span>
    {% render 'add-to-cart-button', product: product, can_add_to_cart: can_add_to_cart, class: 'gift-popup__atc' %}
    {%- endform -%}
</product-form-component>
